<!DOCTYPE html>
<section>
    <h1> {{ title }} </h1>
    
    <form action="/signup" method="POST" id="signup-form">
    <div class="container">
        <p>Please fill in this form to create an account.</p>
        <hr>
        
        <label for="username">Username</label>
        <input type="text" id="username" placeholder="Choose a Username" name="username" required>
        
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" placeholder="Name" name="firstName" required>

        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" placeholder="Last Name" name="lastName">



        <label for="email">Email</label>
        <input type="text" id="email" placeholder="Enter Email" name="email" required>

        <label for="password1">Password</label>
        <input type="password" id="password1" placeholder="Enter Password" name="password1" required>

        <label for="password2">Repeat Password</label>
        <input type="password" id="password2" placeholder="Repeat Password" name="password2" required>

        <label for="bio">About Me</label>
        <input type="text" id="bio" placeholder="" name="bio" required>
    
        <div class="clearfix">
            <div class="text-center">
            <a class="small" href="/">Already have an account? Login!</a>
            </div>
            <button type="submit" class="signupbtn">Sign Up</button>
        </div>
    
    </div>
    </form>      
</section>


