<!DOCTYPE html>
<html lang="en">
    <head>
        <title>LOGIN</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel = "stylesheet" href = "../../public/css/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    
    <body>
        {{#if success_messages }}
        <div class="alert alert-success">{{success_messages}}</div>
        {{/if}}
        
        {{#if error_messages }}
        <div class="alert alert-danger">{{error_messages}}</div>
        {{/if}}
        
        <div class="container">
            {{{body}}}
        </div>
    </body>
</html>